.contact{
    background-image:url("./images/hand.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    text-align: center;
    color: white;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    justify-content: center;
    place-items: center;
}

.buttonsubmit{
    margin: auto;
    display: grid;
}